body {
    background-position: center;
    background-image: url(IMAGES/_3f8ffbfa-7143-473d-a79a-36a65978add2\ \(1\).jpeg);
    background-repeat: no-repeat;
    height: 100vh
}

p {
    text-align: center;
}